<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kDKDrawingInfoTitle</key>
	<string>lupe.artb</string>
	<key>kdkdrawinginfocreationdate</key>
	<date>2012-10-12T16:58:58Z</date>
	<key>kdkdrawinginfodimensionsshortunits</key>
	<string>in.</string>
	<key>kdkdrawinginfodimensionsunits</key>
	<string>inches</string>
	<key>kdkdrawinginfodraughter</key>
	<string>Kow Sakazaki</string>
	<key>kdkdrawinginfodrawingdimensions.size_height</key>
	<string>7.767717</string>
	<key>kdkdrawinginfodrawingdimensions.size_width</key>
	<string>11.190000</string>
	<key>kdkdrawinginfodrawingnumber</key>
	<string>A2-000009-0001</string>
	<key>kdkdrawinginfodrawingnumberunformatted</key>
	<integer>9</integer>
	<key>kdkdrawinginfodrawingprefix</key>
	<string>A2</string>
	<key>kdkdrawinginfodrawingrevision</key>
	<integer>1</integer>
	<key>kdkdrawinginfolastmodificationdate</key>
	<date>2012-10-12T16:58:58Z</date>
</dict>
</plist>
